parameters:
    level: 1
    paths:
        - src
    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Call to an undefined method#'
        - '#Unsafe usage of new static#'
        - '#Request::isFromApiDocument#'
